# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.37
# Operation : Migration
# Purpose : for opetator

# Date : WK14.46
# Operation : Migration
# Purpose : For MTK Emulator HW GPU

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions

# Date : WK14.31
# Operation : Migration
# Purpose : access to sec mem proc interface.

# Date : WK14.36
# Operation : Migration
# Purpose : for ui

# Date : WK16.29
# Operation : Migration
# Purpose : for gpu access

# Date : WK17.29
# Operation : Migration
# Purpose : for device bring up

# Date : WK17.48
# Operation : Migration
# Purpose : FPSGO integration
