# ==============================================
# MTK Policy Rule
# ==============================================

type teeregistryd_app, domain;

typeattribute teeregistryd_app coredomain;

app_domain(teeregistryd_app)

binder_service(teeregistryd_app)
binder_use(teeregistryd_app)


hal_client_domain(teeregistryd_app, hal_teeregistry)
hal_client_domain(teeregistryd_app, hal_allocator)


allow teeregistryd_app activity_service:service_manager find;
allow teeregistryd_app connectivity_service:service_manager find;
allow teeregistryd_app display_service:service_manager find;
allow teeregistryd_app network_management_service:service_manager find;
allow teeregistryd_app self:udp_socket create;

allow teeregistryd_app system_app_data_file:dir { add_name getattr write };
allow teeregistryd_app system_app_data_file:file { create open write };

#============= teeregistryd_app.te ==============
allow teeregistryd_app fwmarkd_socket:sock_file write;
allow teeregistryd_app netd:unix_stream_socket connectto;
allow teeregistryd_app node:udp_socket node_bind;
allow teeregistryd_app port:udp_socket name_bind;
allow teeregistryd_app port:tcp_socket name_connect;
allow teeregistryd_app self:tcp_socket { create setopt read getopt getattr write connect };
allow teeregistryd_app vendor_file:file { read open getattr };
allow teeregistryd_app dnsproxyd_socket:sock_file write;
allow teeregistryd_app mtk_amslog_prop:file read;
allow teeregistryd_app self:udp_socket { bind setattr };
allow teeregistryd_app system_app_data_file:dir { search create setattr };
allow teeregistryd_app system_app_data_file:file { read getattr };
